.wrapper
    width: 80%
    margin: 0 auto 30px auto
    display: flex
    flex-direction: column
    .nameWrapper
        display: flex
        align-items: center
        justify-content: space-between
    .imgWrapper
        display: flex
        justify-content: space-between
        // .img
        //     width: 270px
        //     height: 270px
        //     margin-right: 20px
        //     background: url('https://forte-plast.by/assets/images/catalog/furnitura/gladilnaya-doska-s-6611-w.png')
        //     background-size: contain
        h2
            margin-top: 0
            text-align: justify
        .deskWrapper
            position: relative
            width: 100%
            display: flex
            flex-direction: column
            justify-content: space-between