@media (max-width: 900px)
    .wrapper
        width: 100% !important
        padding: 0 0 10px 0
        margin-bottom: 30px
        border-bottom: solid 1px #dfdfdf
        .card
            width: 80vw !important
            height: 80vw !important
        .propsWrapper
            display: flex
            align-items: center
            justify-content: space-between
            .iconWrapper
                width: 40px
                height: 40px
                border-radius: 50px
                display: flex
                justify-content: center
                align-items: center
                background-color: black
        h1
            font-size: 16px
            font-weight: 500
        h3
            display: none

.wrapper
    width: 19vw
    display: flex
    flex-direction: column
    *
        margin: 0
    .card
        width: 100%
        height: 19vw
        cursor: pointer
        background: url('https://forte-plast.by/assets/images/catalog/furnitura/gladilnaya-doska-s-6611-w.png')
        background-size: contain
        transition: 0.3s
    .card:hover
        background: url('https://idei.club/uploads/posts/2021-08/1629980968_12-idei-club-p-kvadratnaya-spalnya-gostinaya-interer-kras-14.jpg')
        background-size: contain
    h1
        font-size: 28px
        font-weight: 700
    h2
        cursor: pointer
    h2:hover
        text-decoration: underline
    h3
        font-size: 16px
        font-weight: 500
        color: #484848
